
  .main {
    display: flex;
    justify-content: center;
    height: auto;
    
  }
  .pin_container {
    margin: 0;
    padding: 0;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px; 
    justify-content: center;
    background-color: transparent; 
    height: auto;
    overflow: hidden;
    border: 3px solid red;
  }
  
  .card {
    margin: 0;
    padding: 0;
    border-radius: 16px;
    background-color: transparent; /* Ensure no red color */
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .small {
    grid-row-end: span 16;
  }
  
  .medium {
    grid-row-end: span 23;
  }
  
  .large {
    grid-row-end: span 35;
  }
  
  .cardImage {
    width: 100%;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
    flex-grow: 1; /* Ensures the image fits the container */
  }
  